{% extends "base.html" %}
{% block content %}
<h1>Equipment List</h1>
{% regroup equipmentlist by equipment_class as equip_by_class %}
{% for class in equip_by_class %}
<p>{{ class.grouper }} {{class.equipment_class}}</p>
        <ul>
            {% for item in class.list %}
            {% if item.is_active = True %}
                <li>
                <a href="/equipment/getclass/{{ item.id }}/"><img src="http://127.0.0.1:8000/media/{{item.equipment_image}}">{{ item.equipment_name}}</a>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
{% endfor %}
{% endblock %}